# Python cache files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Virtual environments
venv/
.env/
.env*/
.build-venv/

# Logs and temp files
log/
*.log

# Downloads/output
downloads/
processed/
dist/
build/
debug
debug/
# Node modules (if any)
node_modules/

# third party apps
ffmpeg/
chrome/
aria2/
node/
